<!DOCTYPE html>
<html data-theme="dark" lang="en">
<title>
  {% block title %}{% endblock %} - NewsTrace
</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsTrace - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        body {
            background-image: url({{ url_for('static', filename='bg.svg') }});
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
    <div class="navbar bg-neutral text-neutral-content">
        <button class="btn btn-ghost text-xl">Newstrace</button>
    </div>
    {% block hero %}{% endblock %}
</html>