{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block hero %}
<main>
    <div class="hero bg-base-400 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-6xl font-bold">NewsTrace</h1>
                <p class="py-8">
                    A media intelligence and journalist profiling system.
                </p>
                <label class="swap swap-rotate">
                <!-- <form action="/results" method="get">
                    <fieldset class="fieldset">
                        <input type="text" name="query" class="input" placeholder="Your search query goes here" required>
                        <p class="label">Required</p>
                        <button type="submit">Search</button>
                    </fieldset>
                </form> -->
                <!-- <div class="join"> -->
                    <form class="join" action="/journalists" method="GET">
                    <div>
                        <label class="input validator join-item">
                            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g
                                stroke-linejoin="round"
                                stroke-linecap="round"
                                stroke-width="2.5"
                                fill="none"
                                stroke="currentColor"
                            >
                                <!-- right link -->
                                <path d="M16.5 7.5a3.5 3.5 0 0 1 0 4.95l-2.95 2.95a3.5 3.5 0 0 1-4.95-4.95l1.4-1.4"/>
                                <!-- left link -->
                                <path d="M7.5 16.5a3.5 3.5 0 0 1 0-4.95l2.95-2.95a3.5 3.5 0 0 1 4.95 4.95l-1.4 1.4"/>
                                <!-- connecting overlap accent -->
                                <path d="M9.5 14.5l5-5"/>
                            </g>
                            </svg>

                        <input type="text" class="p-4" name="query" placeholder="Query here." required />
                        </label>
                        <div class="validator-hint hidden">Enter valid search query.</div>
                    </div>
                        <button type="submit" class="btn btn-neutral join-item">Submit</button>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</main>
{% endblock %}